@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
body {
  font-family: Muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary_c: #1a7deb;
  --secondary_c: #df3c2e;
}
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  text-decoration: none;
  outline: 0;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: none;
}
a {
  color: #1f1f1f;
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto, sans-serif;
  color: #1f1f1f;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: Muli, sans-serif;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
::placeholder {
  color: #ccc;
  font-size: 14px;
  opacity: 1;
}
h3 {
  font-size: 24px;
}
.mb-70 {
  margin-bottom: 73px;
}
@media (max-width: 767px) {
  .mb-70 {
    margin-bottom: 30px;
  }
}
.overlay {
  position: relative;
  z-index: 0;
}
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
}
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.owl-carousel .owl-nav div {
  background: 0 0;
  height: 40px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #8e8b8b;
  left: 150px;
}
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: var(--secondary_c);
  border: 1px solid transparent;
}
.mb-20 {
  margin-bottom: 20px;
}
.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 14px 44px;
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid var(--primary_c);
  text-align: center;
  color: var(--primary_c) !important;
  text-transform: uppercase;
  cursor: pointer;
}
.boxed-btn:hover {
  background: var(--secondary_c);
  color: #fff !important;
  border: 1px solid var(--secondary_c);
}
.boxed-btn:focus {
  outline: 0;
}
.boxed-btn3 {
  background: var(--primary_c);
  color: #fff;
  display: inline-block;
  padding: 12px 33px;
  font-family: Muli, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.boxed-btn3:hover {
  border: 1px solid var(--secondary_c);
  color: var(--secondary_c) !important;
  background: 0 0;
}
.boxed-btn3:focus {
  outline: 0;
}
.section_title span {
  position: relative;
  z-index: 3;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary_c);
  text-transform: capitalize;
  margin-bottom: 19px;
  display: block;
  font-family: Roboto, sans-serif;
}
.section_title h3 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #1f1f1f;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .section_title h3 br {
    display: none;
  }
}
.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}
@media (max-width: 767px) {
  .section_title p br {
    display: none;
  }
}
.section_title.white_text h3 {
  color: #fff;
}
.section_title.white_text span {
  color: #fff;
  padding-top: 0;
}
.section_title.white_text span:before {
  display: none;
}
.mb-90 {
  margin-bottom: 90px;
}
@media (max-width: 767px) {
  .mb-90 {
    margin-bottom: 40px;
  }
  .mobile_menu {
    position: absolute;
    right: 0;
    width: 80%;
    margin-top: -61px;
    z-index: 9;
  }
}
.header-area {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
}
@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}
.header-area .main-header-area {
  padding: 0 200px;
}
@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 10px;
    background: #1f1f1f;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
    background: #1f1f1f;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 0 70px;
  }
}
.header-area .main-header-area .logo-img {
  text-align: left;
}
@media (max-width: 767px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}
.header-area .main-header-area .main-menu {
  text-align: center;
}
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 23px;
}
.header-area .main-header-area .main-menu ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  padding: 40px 0;
  font-family: Muli, sans-serif;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}
@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li a:hover {
  color: var(--secondary_c) !important;
}
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}
.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}
.header-area .main-header-area.sticky {
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(70px);
  transition: transform 0.5s ease, background 0.5s ease;
  -webkit-transition: transform 0.5s ease, background 0.5s ease;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  background: #1f1f1fcb;
}
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}
.header-area .main-header-area.sticky .main-menu ul li a {
  color: #fff;
}
.slider_bg_2 {
  background-image: url(https://preview.colorlib.com/theme/startup2/img/banner/xbanner2.png.pagespeed.ic.ifyepqYuAl.jpg);
}
.slider_area .single_slider {
  position: relative;
  z-index: 0;
  height: 100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 500px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 620px;
  }
}
.slider_area .single_slider .slider_text h3 {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 78px;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 54px;
}
.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}
@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 50px;
    line-height: 62px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 45px;
    line-height: 55px;
  }
}
.slider_area .single_slider .slider_text span {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  position: relative;
  z-index: 1;
}
.slider_area .single_slider .slider_text span::before {
  position: absolute;
  background: #fff;
  width: 50px;
  height: 2px;
  content: "";
  left: -67px;
  top: 50%;
  margin-bottom: -1px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text span {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .slider_area .single_slider .slider_text span {
    font-size: 16px;
  }
}
.about_area {
  background: #1f1f1f;
  position: relative;
}
.about_area::before {
  content: "";
  background-image: url(https://fnmalic.github.io/codees/img/other/undraw_team_work_k80m.png);
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 9;
  background-size: cover;
  position: absolute;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 767px) {
  .about_area::before {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about_area::before {
    display: none;
  }
}
.about_area .about_info {
  padding: 160px 0;
}
@media (max-width: 767px) {
  .about_area .about_info {
    padding: 80px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about_area .about_info {
    padding: 100px 0;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about_area .about_info {
    padding: 100px 0;
  }
}
.about_area .section_title h3 {
  margin-top: 25px;
  margin-bottom: 54px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about_area .section_title h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .about_area .section_title h3 {
    font-size: 35px;
    margin-bottom: 15px;
  }
}
.about_area .section_title .mid_text {
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 14px;
}
.about_area .section_title .last_text {
  color: #c9c9c9;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 44px;
}
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer_top {
  padding-top: 100px;
  padding-bottom: 160px;
  background: #1f1f1f;
}
@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer .footer_top {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .footer .footer_top .menu_links {
    margin-top: 15px;
  }
}
.footer .footer_top .menu_links ul li {
  display: inline-block;
  margin-right: 46px;
}
@media (max-width: 767px) {
  .footer .footer_top .menu_links ul li {
    margin-right: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer .footer_top .menu_links ul li {
    margin-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top .menu_links ul li {
    margin-right: 30px;
  }
}
.footer .footer_top .menu_links ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.footer .footer_top .menu_links ul li a:hover {
  color: var(--secondary_c);
}
.footer .copy-right_text {
  padding-bottom: 25px;
  background: #1f1f1f;
}
.footer .copy-right_text .footer_border {
  padding-bottom: 25px;
  border-top: 1px solid #363636;
}
.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #c9c9c9;
  margin-bottom: 0;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}
.footer .copy-right_text .copy_right a {
  color: var(--primary_c);
}
.footer .socail_links {
  text-align: right;
}
@media (max-width: 767px) {
  .footer .socail_links {
    text-align: left;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .socail_links {
    text-align: center;
    margin-top: 30px;
  }
}
.footer .socail_links ul li {
  display: inline-block;
}
.footer .socail_links ul li a {
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #e7f9f9;
  line-height: 40px !important;
  border: 1px solid #e7f9f9;
  font-size: 14px;
}
.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: var(--secondary_c);
  border: 1px solid var(--secondary_c);
}
.testimonial_area {
  padding: 160px 0;
  background-image: url(https://allthingsbusinesslondon.co.uk/wp-content/uploads/2022/07/UK-Black-Entrepreneurs-e1656672543978-1140x420.png);
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center center;
}
.testimonial_area:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  content: "";
  background: #1f1f1f;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .testimonial_area {
    padding: 50px 0;
  }
}
.testimonial_area .single_testmonial p {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 35px 0 25px 0;
}
@media (min-width: 320px) and (max-width: 1500px) {
  .testimonial_area .single_testmonial p br {
    display: none;
  }
}
.testimonial_area .single_testmonial .testmonial_author .thumb {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
  margin: auto auto 12px auto;
}
.testimonial_area .single_testmonial .testmonial_author h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  color: #fff;
}
.testimonial_area .single_testmonial .testmonial_author span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: Roboto, sans-serif;
}
.testimonial_area .owl-carousel .owl-nav div {
  left: 0;
}
.service_area {
  padding-top: 155px;
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .service_area {
    padding-bottom: 40px;
    padding-top: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service_area {
    padding-bottom: 50px;
  }
}
.service_area .single_service {
  padding: 48px 35px 45px 35px;
  border: 2px solid #e8e8e8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .service_area .single_service {
    padding: 30px 20px;
  }
}
.service_area .single_service h3 {
  font-size: 24px;
  font-weight: 400;
  color: #1f1f1f;
  margin-top: 29px;
  margin-bottom: 13px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .service_area .single_service h3 {
    font-size: 22px;
  }
}
.service_area .single_service p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.service_area .single_service:hover {
  border: 2px solid var(--primary_c);
}
.portfolio_image_area {
  padding-top: 147px;
  padding-bottom: 130px;
  position: relative;
}
@media (max-width: 767px) {
  .portfolio_image_area {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.portfolio_image_area .single_Portfolio {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.portfolio_image_area .single_Portfolio .portfolio_thumb {
  height: 350px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .portfolio_image_area .single_Portfolio .portfolio_thumb {
    height: auto;
  }
}
.portfolio_image_area .single_Portfolio .portfolio_thumb img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.portfolio_image_area .single_Portfolio .portfolio_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.portfolio_image_area .single_Portfolio .portfolio_hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.portfolio_image_area .single_Portfolio .portfolio_hover span {
  font-size: 14px;
  color: var(--primary_c);
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.portfolio_image_area .single_Portfolio .portfolio_hover h3 {
  color: #1f1f1f;
  font-size: 24px;
  font-weight: 700;
  margin-top: 11px;
  margin-bottom: 25px;
}
.portfolio_image_area .single_Portfolio .portfolio_hover .boxed-btn3:hover {
  border: 1px solid var(--primary_c) !important;
  color: var(--primary_c) !important;
  background: #fff !important;
}
.portfolio_image_area .single_Portfolio:hover .portfolio_hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.portfolio_image_area .popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.get_in_tauch_area {
  padding-top: 146px;
  padding-bottom: 160px;
}
@media (max-width: 767px) {
  .get_in_tauch_area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.get_in_tauch_area .touch_form .single_input input,
.get_in_tauch_area .touch_form .single_input textarea {
  width: 100%;
  border: 1px solid #c9c9c9;
  height: 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 20px 16px;
  margin-bottom: 25px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
.get_in_tauch_area .touch_form .single_input input::placeholder,
.get_in_tauch_area .touch_form .single_input textarea::placeholder {
  color: #707070;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
.get_in_tauch_area .touch_form .single_input input:focus,
.get_in_tauch_area .touch_form .single_input textarea:focus {
  outline: 0;
}
.get_in_tauch_area .touch_form .single_input textarea {
  height: 148px;
  resize: none;
}
.get_in_tauch_area .touch_form .submit_btn .boxed-btn3 {
  width: 100%;
  text-align: center;
}
.how_we_work_area {
  position: relative;
}
.how_we_work_area::before {
  position: absolute;
  content: "";
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
  background-image: url(https://preview.colorlib.com/theme/startup2/img/work/xwork.png.pagespeed.ic.awPqJkJgxB.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
@media (max-width: 767px) {
  .how_we_work_area::before {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .how_we_work_area::before {
    display: none;
  }
}
.how_we_work_area .work_info {
  padding: 180px 0;
}
@media (max-width: 767px) {
  .how_we_work_area .work_info {
    padding: 80px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .how_we_work_area .work_info {
    padding: 100px 0;
  }
}
.how_we_work_area .work_info .section_title .mid_text {
  font-size: 18px;
  font-family: Muli, sans-serif;
  color: #1f1f1f;
  font-weight: 400;
  margin-bottom: 25px;
}
.how_we_work_area .work_info .section_title .last_p {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.how_we_work_area .work_info .video_watch {
  margin-top: 37px;
}
.how_we_work_area .work_info .video_watch .play_btn a {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: var(--secondary_c);
  font-size: 14px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  display: inline-block;
}
.how_we_work_area .work_info .video_watch span {
  font-size: 20px;
  color: #1f1f1f;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin-left: 20px;
}
.contact-info {
  margin-bottom: 25px;
}
.contact-info__icon {
  margin-right: 20px;
}
.contact-info__icon i,
.contact-info__icon span {
  color: #8f9195;
  font-size: 27px;
}
.contact-info .media-body h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2a2a2a;
}
.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}
.contact-info .media-body p {
  color: #8a8a8a;
}
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-contact textarea {
  border-radius: 0;
  height: 100% !important;
}
.contact-section {
  padding: 130px 0 100px;
}
@media (max-width: 991px) {
  .contact-section {
    padding: 70px 0 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact-section {
    padding: 80px 0 50px;
  }
}
b,
u {
  color: #ff5e13;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: 0;
  background: #f9f9ff;
  padding: 0 20px;
}
.single-input:focus {
  outline: 0;
}
.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: 0;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}
.single-textarea:focus {
  outline: 0;
}
.form-select {
  height: 40px;
  width: 100%;
}
.form-select .nice-select {
  border: none;
  border-radius: 0;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}
.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0;
}
.form-select .nice-select::after {
  right: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.slider_bg_1 {
  background-image: linear-gradient(
    to right top,
    #f4425b,
    #ef418c,
    #d654b9,
    #a96cdc,
    #6081f0
  );
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-webkit-keyframes ckw {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes ckw {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes cckw {
  0% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes cckw {
  0% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
  }
}
.gear {
  float: none;
  position: absolute;
  text-align: center;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}
#gear1 {
  background: url(http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g1.png)
    no-repeat 0 0;
  height: 85px;
  left: 31px;
  top: 45px;
  width: 85px;
  -moz-animation-name: ckw;
  -moz-animation-duration: 10s;
  -webkit-animation-name: ckw;
  -webkit-animation-duration: 10s;
}
#gear2 {
  background: url(http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g2.png)
    no-repeat 0 0;
  height: 125px;
  left: 105px;
  top: 10px;
  width: 125px;
  -moz-animation-name: cckw;
  -moz-animation-duration: 16.84s;
  -webkit-animation-name: cckw;
  -webkit-animation-duration: 16.84s;
}
#gear3 {
  background: url(http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g3.png)
    no-repeat 0 0;
  height: 103px;
  left: 149px;
  top: 118px;
  width: 103px;
  -moz-animation-name: ckw;
  -moz-animation-duration: 13.5s;
  -webkit-animation-name: ckw;
  -webkit-animation-duration: 13.5s;
}
#gear4 {
  background: url(http://www.rudebox.org.ua/demo/animated-mechanism-using-css3/images/g4.png)
    no-repeat 0 0;
  height: 144px;
  left: 46px;
  top: 173px;
  width: 144px;
  -moz-animation-name: cckw;
  -moz-animation-duration: 20.2s;
  -webkit-animation-name: cckw;
  -webkit-animation-duration: 20.2s;
}
